.pos .product .rating {
    position: absolute;
    top: 25px;
    right: 2px;
    vertical-align: down;
    color: black;
    line-height: 13px;
    background: #32CD32;
    padding: 2px 5px;
    border-radius: 2px;

}